---
import Layout from "../layouts/Layout.astro";
import Header from "@/components/Header";
import Hero from "@/components/Hero";
import Experience from "@/components/Experience";
import Skills from "@/components/Skills";
import Footer from "@/components/Footer";
import Education from "@/components/Education";
import Projects from "@/components/Projects";
import CallToAction from "@/components/CallToAction";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Header client:load />
  <main>
    <Hero client:load />
    <Projects client:load />
    <Skills client:load />
    <Education client:load />
    <CallToAction client:load />
  </main>
  <Footer client:load />
</Layout>
